
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$khaki-front-end-primary: mat-palette($mat-indigo);
$khaki-front-end-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$khaki-front-end-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$khaki-front-end-theme: mat-light-theme((
  color: (
    primary: $khaki-front-end-primary,
    accent: $khaki-front-end-accent,
    warn: $khaki-front-end-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($khaki-front-end-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
}

body { margin: 0; font-family: Avenir, "Helvetica Neue", sans-serif; }

// Set the minimum width for the nav bar
@media screen and (min-width: 401px) {
  .mat-drawer {
    min-width: 200px;
  }
}

// Page title

.page-caption {
  width: 100%;
  padding-bottom: 20px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  font-size: larger;
  line-height: 28px;
}

// Component defaults

.khaki-container {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px 10px 25px 10px;
  border-radius: 8px;
  flex: 1 1 0px;
  margin: 0px 0px 20px;
}

.khaki-clear-container {
  padding: 0px;
  flex: 1 1 0px;
}

.khaki-clear-container {
  padding: 0px;
  flex: 1 1 0px;
}

div.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

div.center-90 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.component-header {
  display: flex;

  padding: 10px;
  margin-bottom: 20px;
  flex-direction: row;

  .component-help {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .component-buttons {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    padding-right: 50px;
  }

  .component-caption {
    vertical-align: middle;
    align-items: left;
    justify-content: center;
    display: flex;
    padding: 0px;
    flex-direction: column;
  }
}

.component-content {
  overflow: auto;
  width: 100%;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}


.help-wrapper {
  position: relative;
  display: inline-block;
  mat-icon {
    font-size: 16px;
    color: #718096;
  }
}

.help-content {
  visibility: hidden;
  border-radius: 6px;
  top: 20px;
  right: 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;

  border: 1px solid #dbdee2;
  background-color: #1a202c;
  padding: 8px;
  color: #F7FAFC;
  width: 240px;
}

.multi-tenant-selector {
  .mat-select-value-text {
    padding-left: 5px;
  }
}

.component-title {
    font-size: initial;
    font-weight: 400;
    color: #4A5568;
}

.component-subtitle {
  color: #718096;
}

.mat-spinner-wrapper {
  margin: 10px;
  padding: 10px;
  display: block;
  position: relative;
}

.loadingComponent {
  display: none;
}

lib-per-department-graph .ngx-charts {
  .arc {
    &.active,
    &:hover {
      opacity: 1;
      cursor: default;
    }
  }
}

lib-per-department-graph .ngx-charts {
  .arc.inactive:not(.active) {
      opacity: 0.2;
  }
}

::ng-deep .mat-select-value {
  max-width: 0;
  width: 100%;
  white-space: nowrap;
  display: contents;
}

.padding {
  padding: 30px 50px;
}

.lib-time-interval-form-wrapper {
  font-weight: normal;
  line-height: 28px;
  display: inline-flex;
  .data-selector {
    padding-left: 10px;
  }
}

.khaki-breadcrumb {
  padding-bottom: 20px;
  a {
    text-decoration: none;
    color: #4AABE2;
    font-weight: bold;
  }
}

// material input
.mat-form-field-infix {
  border: 1px solid #a0aec0;
  border-radius: 6px;
}
.mat-form-field-wrapper {
  padding-bottom: 0em;
}

mat-select.application-filter {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    appearance: none;
    outline-width: 0;
    padding: 6px 9px 6px 12px;
    display: block;
    background-color: #fff;
    border: solid 1px #A0AEC0;
    border-radius: 8px;
    font-size: 14px;
    margin-right: 0px;

    & .mat-select-value {
     display: contents;
    }

    & .mat-select-trigger {
      width: 100%;
    }

    & .mat-select-arrow {
      width: 11px;
      height: 11px;
      border: none;
      margin: 0px;
      background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E")
      no-repeat 50% 50%;
    }
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: #4AABE2;
  color: white;
}
