
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$khaki-front-end-primary: mat-palette($mat-indigo);
$khaki-front-end-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$khaki-front-end-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$khaki-front-end-theme: mat-light-theme((
  color: (
    primary: $khaki-front-end-primary,
    accent: $khaki-front-end-accent,
    warn: $khaki-front-end-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($khaki-front-end-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
}

body { margin: 0; font-family: Avenir, "Helvetica Neue", sans-serif; }

// Set the minimum width for the nav bar
@media screen and (min-width: 401px) {
  .mat-drawer {
    min-width: 200px;
  }
}

// Time Interval wrapper

.lib-time-interval-form-wrapper {
  width: 100%;
}

// Time Interval dropdown

.lib-time-interval-form-wrapper h3 {
  width: 75px;
  float: right;
  padding-right: 10px;
  margin-right: 10px;
  font-weight: normal;
}

.lib-time-interval-form-wrapper .mat-select {
    background-color: white;
    border: 1px solid #dbdee2;
    border-radius: 3px;
    padding-left: 5px;
}

.mat-option {
  line-height: 36px !important;
  height: 36px !important;
}

// Page Caption

.lib-time-interval-form-wrapper .title {
  font-weight: bold;
  font-size: larger;
  line-height: 28px;
  margin-left: 10px;
}

.mat-typography h3 {
    font-size: larger;
}

// Component defaults

.khaki-container {
  border: 1px solid #dbdee2;
  background-color: white;
  padding: 10px 10px 25px 10px;
  border-radius: 8px;
  flex: 1 1 0px;
  margin: 10px 10px;
}

.khaki-clear-container {
  padding: 0px;
  flex: 1 1 0px;
  margin: 10px 10px;
}

div.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.component-header {
  padding: 10px;
  overflow: visible;

  .component-caption {
    float: left;
  }

  .component-help {
    float: right;
  }
}

.component-content {
  overflow: auto;
  width: 100%;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}


.help-wrapper {
  position: relative;
  display: inline-block;
  mat-icon {
    font-size: 16px;
    color: #b7babd;
  }
}

.help-content {
  visibility: hidden;
  border-radius: 6px;
  top: 20px;
  right: 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;

  border: 1px solid #dbdee2;
  background-color: #1a202c;
  padding: 8px;
  color: #F7FAFC;
  width: 240px;
}

.multi-tenant-selector {
  .mat-select-value-text {
    padding-left: 5px;
  }
}
