.side-nav-background {
  background-color: #1A202C;
  height: 100%;
  color: #F7FAFC;
}

// Logo styling

.logo-container {
  display: flex;
  padding: 26px;
}

.logo {
  max-height: 40px;
  max-width: 40px;
  height: auto;
  width: auto;
}

// Display logo label for screens > 400px

@media screen and (min-width: 401px) {
  .logo-container .label {
    line-height: 40px;
    text-align: center;
    margin-left: 10px;
  }
}

// Hide logo label for screens <= 400px

@media screen and (max-width: 400px) {
  .logo-container .label {
    display: none;
  }
}

.menu-items {
  display: flex;
  flex-direction: column;
  color: gray;
}

// Display labels for screens > 400px

@media screen and (min-width: 401px) {
  .menu-items a .label {
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
    display: inline-block;
    color: #F7FAFC;
  }
}

// Hide labels for screens <= 400px

@media screen and (max-width: 400px) {
  .menu-items a .label {
    display: none;
  }
}

.menu-items a {
  display: flex;
  text-decoration: none;
  color: #F7FAFC;
  padding: 8px 10px 8px 10px;
}

.menu-items a.active-link {
  background: #4AABE2;
  border-radius: 6px;
}

.spacer {
  padding: 5px;
}

.profile-icon {
  font-size: 30px;
  padding-right: 7px;
}

.non-profile-icons {
  font-size: 30px;
  padding-right: 7px;
}

.icon-spacing {
  padding: 0px 15px 0px 15px;
}

.logout {
  position: fixed;
  bottom: 20px;
  
  .wrapper {
    display: flex;
    flex-direction: column;
    color: gray; margin: 0 auto;
    align-items: center;
  }
  a {
    background: #4AABE2;
    border-radius: 6px;
    display: flex;
    text-decoration: none;
    color: #F7FAFC;
    padding: 8px 10px 8px 10px;
  }
  span {
    text-align: center;
    flex: auto;
  }
}
