.side-nav-background {
  background-color: #1A202C;
  height: 100%;
  color: #F7FAFC;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

// Logo styling

.logo-container {
  display: flex;
  padding: 26px;
}

.logo {
  max-height: 40px;
  max-width: 40px;
  height: auto;
  width: auto;
}

// Display logo label for screens > 400px

@media screen and (min-width: 401px) {
  .logo-container .label {
    line-height: 40px;
    text-align: center;
    margin-left: 10px;
  }
}

// Hide logo label for screens <= 400px

@media screen and (max-width: 400px) {
  .logo-container .label {
    display: none;
  }
}

.menu-items {
  display: flex;
  flex-direction: column;
  color: gray;
}

// Display labels for screens > 400px

@media screen and (min-width: 401px) {
  .menu-items a .label {
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
    display: inline-block;
    color: #F7FAFC;
  }
}

// Hide labels for screens <= 400px

@media screen and (max-width: 400px) {
  .menu-items a .label {
    display: none;
  }
}

.menu-items a {
  display: flex;
  text-decoration: none;
  color: #F7FAFC;
  padding: 8px 10px 8px 10px;
}

.menu-items a.active-link {
  background: #4AABE2;
  border-radius: 6px;
}

.spacer {
  padding: 5px;
}

.profile-icon {
  font-size: 30px;
  padding-right: 7px;
}

.non-profile-icons {
  font-size: 30px;
  padding-right: 7px;
}

.icon-spacing {
  padding: 0px 15px 0px 15px;
}

.logout {
  position: fixed;
  bottom: 20px;

  .wrapper {
    display: flex;
    flex-direction: column;
    color: gray; margin: 0 auto;
    align-items: center;
  }
  a {
    background: #4AABE2;
    border-radius: 6px;
    display: flex;
    text-decoration: none;
    color: #F7FAFC;
    padding: 8px 10px 8px 10px;
  }
  span {
    text-align: center;
    flex: auto;
  }
}

.multi-tenant-selector {
  mat-select {
    background-color: white;
    margin-top: 30px;
    line-height: 2em;
  }
}

#profile-popup-wrapper {
  display: flex;
  align-items: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  span {
    padding-left: 10px;
  }
  .expand {
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;

    float: right;
    text-align: center;

    display: flex;
    flex-direction: column;
  }
}

.profile-wrapper {

  display: flex;
  flex-direction: column;

  mat-icon {
    font-size: 25px;
    color: #b7babd;
  }

  img {
    height: 35px;
    border-radius: 8px;
  }
}

.profile-content {
  visibility: hidden;
  border-radius: 6px;

  position: fixed;
  z-index: 1;

  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

  width: 240px;

  left: 150px;
  bottom: 10px;

  overflow: hidden;

  .name {
    padding: 19px 19px 0px 19px;
    font-weight: bold;
  }
  .email {
    color: #718096;
    font-size: smaller;
    padding-left: 19px;
  }
  .signout {
    font-size: initial;
    padding: 19px;
    margin-top: 25px;
  }
  .signout:hover {
    background-color: #4AABE2;
    color: #FFFFFF;
  }
}

.profile-wrapper:hover #profile-popup-content {
  visibility: visible;
}
