.side-nav-background {
  background: #1A202C;
  height: 100%;
  color: #F7FAFC;
}

.menu-items {
  display: flex;
  flex-direction: column;
  color: gray;
}

.menu-items a .label {
  line-height: 30px;
  text-align: center;
  margin-left: 10px;
  display: inline-block;
  color: #F7FAFC;
}

.menu-items a {
  display: flex;
  text-decoration: none;
  color: #F7FAFC;
  padding: 8px 10px 8px 10px;
}

.logo-container {
  display: flex;
  padding: 26px;
}

.logo {
  max-height: 40px;
  max-width: 40px;
  height: auto;
  width: auto;
}

.logo-container .label {
  line-height: 40px;
  text-align: center;
  margin-left: 10px;
}

.spacer {
  padding: 5px;
}

.profile-icon {
  font-size: 30px;
  padding-right: 7px;
}

.non-profile-icons {
  font-size: 30px;
  padding-right: 7px;
}

.icon-spacing {
  padding: 0px 15px 0px 15px;
}
