<div class="side-nav-background">
  <div class="logo-container">
    <a routerLink="home" routerLinkActive="active-link">
      <img src="/assets/logo.png" class="logo"/>
    </a>
    <div class="label">Khaki</div>
  </div>
  <div class="spacer"></div>

  <div *ngIf="authService.isAuthenticated$ | async">
    <div class="menu-items">
      <div class="icon-spacing">
        <a routerLink="stats" routerLinkActive="active-link">
          <mat-icon class="non-profile-icons">bar_chart</mat-icon>
          <div class="label">Dashboard</div>
        </a>
      </div>
      <div class="icon-spacing">
        <a routerLink="profile" routerLinkActive="active-link">
          <mat-icon class="profile-icon">account_circle</mat-icon>
          <div class="label">Profile</div>
        </a>
      </div>
      <div class="icon-spacing">
        <a routerLink="settings" routerLinkActive="active-link">
          <mat-icon class="non-profile-icons">settings</mat-icon>
          <div class="label">Settings</div>
        </a>
      </div>
      <div class="icon-spacing">
        <a routerLink="info" routerLinkActive="active-link">
          <mat-icon class="non-profile-icons">info</mat-icon>
          <div class="label">Info</div>
        </a>
      </div>

    </div>

  </div>

  <div *ngIf="authService.isAuthenticated$ | async">
    <div class="logout">
      <div class="icon-spacing container">
        <a (click)="authService.logout()">
          <span>Logout</span>
        </a>
      </div>
    </div>
  </div>

</div>
