<div class="fixed-header">
  <a href="javascript:" (click)="toggleDrawerShow()">
    <mat-icon>menu</mat-icon>
  </a>
  <img class="logo" src="/assets/logo.png" />
  <table class="menucontainer" *ngIf="show">
    <tr class="icon-spacing">
      <td class="iconcontainer">
        <a (click)="onNavigateBtn()" routerLink="stats">
          <mat-icon class="non-profile-icons stats-icon">bar_chart</mat-icon>
        </a>
      </td>
      <td class="textcontainer">
        <a (click)="onNavigateBtn()" routerLink="stats">
          <span>Dashboard</span>
        </a>
      </td>
    </tr>
    <tr class="icon-spacing">
      <td class="iconcontainer">
        <a (click)="onNavigateBtn()" routerLink="profile">
          <mat-icon class="profile-icon">account_circle</mat-icon>
        </a>
      </td>
      <td class="textcontainer">
        <a (click)="onNavigateBtn()" routerLink="profile">
          <span>Profile</span>
        </a>
      </td>
    </tr>
    <tr class="icon-spacing">
      <td class="iconcontainer">
        <a (click)="onNavigateBtn()" routerLink="settings">
          <mat-icon class="non-profile-icons">settings</mat-icon>
        </a>
      </td>
      <td class="textcontainer">
        <a (click)="onNavigateBtn()" routerLink="settings">
          <span>Settings</span>
        </a>
      </td>
    </tr>
    <tr class="icon-spacing">
      <td class="iconcontainer">
        <a (click)="openHelpDialog()">
          <mat-icon class="non-profile-icons">help_outline</mat-icon>
        </a>
      </td>
      <td class="textcontainer">
        <a (click)="openHelpDialog()">
          <span>Help</span>
        </a>
      </td>
    </tr>
  </table>
</div>


<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened style="min-height: 100vh">
    <app-side-nav></app-side-nav>
  </mat-drawer>
  <mat-drawer-content style="min-height: 100vh">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


<div id="helpModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <h2 mat-dialog-title>Help</h2>
    <mat-dialog-content>
      <div>
        <span>Need some assistance with Khaki? Please email us at</span>
      </div>
      <div class="email-address">
        support@getkhaki.com
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="closeHelpDialog()">Close</button>
    </mat-dialog-actions>
  </div>
</div>
